.card-container{
    width: 25%;
    padding: 20px 20px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 5px;
}

.card-container-logo {
    position: relative;
    background: #000;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 2;
    transform: translate(0, 50%) ;
}

.card-container-logo img{
    width: 40px;
    height: 40px;
    max-height: auto;
    padding: 20px;
}

.card-container-text {
    width: 100%;
    height: 80%;
    margin: auto;
    background: #DFDBD0;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.45);
    -webkit-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.45);
}

.card-container-text p{
    text-align: center;
    font-size: 15px;
    padding: 50px 15px;
}


@media only screen and (max-width: 1200px){
    .card-container{
        margin: 0 ;
        width: 50%;
        height: auto;
    }
    .card-container-text p{
        margin: auto 10px;
    }
    .card-container-text p{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 768px){
    .card-container{
        margin: auto 10px;
        width: 60%;
        font-size: 12px;
    }
}
