.why-us{
    background: #F1F1F1;
    margin: 0 auto;
    width: 100%;
}

.choose-us{
    text-align: center;
    padding: 5% 0 1%;
}

.choose-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto 30px;
    max-width: 1024px;
}

@media only screen and (max-width: 768px){
    .choose-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}