
.footer-image{   
    width: 100%;
    transform: scaleY(0.85);
    position: relative;
    z-index: 1;
}

.footer-conteiner {
    box-sizing: border-box;
    width: 100%;
    margin-top: -7%; 
    position: relative;
    z-index: 2;
    background-color: black;
    height: 200px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
}


.footer-box-conteiner{
    width: 85%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}

.footer-box-1{
    width: 40%;
    flex-direction: column;
    max-width: 300px;
    color: white;
}

.footer-box-1 img{
    height: 60px;
    margin-left: -5%;
}

.footer-box-1-redes {
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-box-1-redes img {
    height: 40px;
    margin-left: -53px;
}

.footer-box-2{
    margin-top: 10px;
    margin-left: 15%;
    color: white;
    font-weight: bold;
}

.footer-box-2 ul li {
    font-weight:400;
    list-style: none;
    margin-top: 3px;   
}

.footer-box-2 ul li a {
    text-decoration: none;
    color: inherit;
}

.footer-box-3{
    margin-top: 10px;
    margin-left: 15%;
    color: white;
    font-weight: bold;
}

.footer-box-3 ul li {
    font-weight:400;
    list-style: none;
    margin-top: 3px;   
}

.footer-box-3 ul li a {
    color: inherit;
    text-decoration: none;
}


@media (min-width: 481px) and (max-width: 900px){

    .footer-box-1 img{
        height: 40px;
        margin-left: -10%;
    }
    
    .footer-box-conteiner{
       font-size: 12px;
       width: 80%;
       margin: auto;
    }

    .footer-box-3{
        margin-left: 10%;
        width: 50%;
    }

}


@media (max-width: 481px){
    .footer-box-conteiner{
      flex-direction: column;
    }
    .footer-box-1-redes img {
      margin: auto;
    }
    .footer-box-1 {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .footer-box-2{
        display: none;
    }
    .footer-box-3{
       display:none;
    }
}


/* 
.footer {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer-box {
    display: flex;
    background-color: #000;
    width: 100%;
    height: 350px;
    margin: 0;
    color: #FFFFFF;
    align-items: start;
}

.footer-img {
    width: 100%;
    height: auto;
}

.footer-left {
    margin: 0 10%;
}

.footer-left p {
    color: #D9DBE1;
    margin: 30px 20px;
    height: 100%;
    font-size: 14px;
}

.footer-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logos img{
    margin-top: 30px;
    width: 50px;
}

.footer-logos-contact {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-right {
    display: flex;
    margin: 30px 10% 0 0;
    gap: 40px;
    justify-content: flex-start;
    width: 600px;
}

@media only screen and (max-width: 768px){
    .footer-right {
        display: none;
    }
}


.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
}

.footer-menu p{
    font-size: 14px;
    color: #D9DBE1;
} */