.form-size{
    padding-top: 5%;
}

.form{
   margin: 5% 15% 5% 5%; 
}

.form-cont{
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
}

.form-dudes{
    margin: 20px 0;
}

.form-dudes p{
    padding: 10px 0;
    font-weight: 300;
}

.form-icons {
    display: none;
}

.form-contactus{
    text-transform: uppercase;
    color: #EB7D34;
    font-weight: 700;
}

.form-contact{
    margin-bottom: 50px;
}

.form-contact-size p{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 25px 0;
    text-align: start;
}

.try{
    display: flex;
    flex-direction: column;
    color: #828282;
    font-weight: 700;
}

.try input{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #04202B;
    padding: 15px 0;
    margin-top: 5px;
    font-size: 1rem;
}

.try label{
    margin-top: 20px;
}

button {
    width: 150px;
    margin: 0 auto 20px;
    padding: 10px;
    border-radius: 25px;
    border: 0px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #EB7D34;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 600ms;
}

button:hover{
    cursor: pointer;
    background-color: #D9D9D9;
    color: #000;
    
}



@media only screen and (min-width: 768px){
    .form{
        margin: auto;
        max-width: 1024px;
        position: relative;
        display: flex;
        height: 800px;
        align-items: center;
        justify-content: center;
        transform: translate(-7%);
    }
    
    .form-text{
        position: relative;
        transform: translate(50%);
        z-index: 2;
        background-color: #FFF;
        max-width: 25%;
        height: 55%;
        max-height: 500px;
        border-radius: 8px;
        box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.45);
        -webkit-box-shadow: 1px 2px 20px 0px rgba(0,0,0,0.45);
        -moz-box-shadow: 1px 2px 20px 0px rgba(0,0,0,0.45);
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        text-transform: uppercase;
    }

    .form-cont{
        padding-bottom: 0;
    }
    
    .form-contactus{
        font-weight: 500;
        color: #EB7D34;
    }
    
    .form-dudes p{
        font-weight: 600;
    }
    
    .form-icons{
        padding: 0 15px;
        display: flex;
    }
    
    .form-contact-size{
        box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.45);
        -webkit-box-shadow: 1px 2px 20px 0px rgba(0,0,0,0.45);
        -moz-box-shadow: 1px 2px 20px 0px rgba(0,0,0,0.45);
        border-radius: 8px;
        height: 80%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 0 0 15%;
    }
    
    .form-contact-size p{
        text-transform: uppercase;
        margin: 40px 50px 0 50px;
    }
    
    .form-contact{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        gap: 50px;
        margin-left: 50px;
        margin-right: 50px;
        grid-template-areas: 
        ". ."
        ". ."
        "message message";
    }
    
    .message { 
        grid-area: message; 
    }
    
    .try input{
        width: 100%;
        border: 0;
        border-bottom: 1px solid #04202B;
        padding-top: 15px;
    }
    
    .try label{
        margin-bottom: 10px;
    }
}