.slider-conteiner {
    background: rgba(0, 0, 0, 0.6) url('../src/assets/fondo.png');
    height: 90vh;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-blend-mode: darken;
    flex-direction: column;
}

.slider-logo{
    height: 500px;
}

.slider-title {
    color: #FFFFFF;
    font-size: 30px;
}

