/* span shipping */

.header-shipping-span-conteiner{
    background-color: #77AAAD;
    text-align: center;
    padding: 5px;
}

/* navbar-desktop */

.navbar-conteiner {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    background-color: black;  
    
}

.navbar-conteiner img{ 
    margin-left: 4%;
    height: 70px;
}

.navbar-menu-conteiner {
    box-sizing: border-box;
    width: 32%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-right: 1%;

}

.navbar-menu-options{
    display: flex;
    flex-direction: row;
    width: 28%;    
    margin-right: 1%;
    margin-left: 2%;
}

.navbar-menu-conteiner h5 {
    font-size: 14px;
    margin-right: 6%; 
    margin-left: 16%;
}

.navbar-menu-conteiner h5:hover{
    text-decoration: underline;   
}

.button-store-head{
    width: 35%;
    max-width: 90px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    padding: 7px;
    margin: auto; 
    margin-left: 18%; 
    
    border-radius: 25px;
    color: white;
    background-color: #EB7D34;   
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 600ms;
}

.button-store-head:hover{
    background-color: #77AAAD;
    cursor: pointer;
}

/* slider  */

.slider-conteiner {
    background-image: url('../assets/fondo.png'); 
    background-color: rgba(0, 0, 0, 0.7);
    height: 350px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.slider-logo{
    margin-top: 2%;
    height: 200px;
}
.slider-slogan{   
    transform: scale(0.5);
    margin-top: -6%;
}

.slider-title {
    color: #FFFFFF;
    font-size: 30px; 
}

@media (max-width: 1120px) {
    .navbar-menu-conteiner {
        width: 38%;
    } 
    .button-store-head {
        margin-left: 25%;
        width: 25%;
    }

} 



@media (min-width: 481px) and (max-width: 767px){
 
    /* header tablet */ 

   .navbar-conteiner img {
        height: 50px;
    } 

    .navbar-menu-conteiner{
        font-size: 10px;
        width: 50%;
        margin-right: 1.5%;
    }

     .navbar-menu-options{
        margin-left: 12%;
    }
 
    .navbar-menu-conteiner h5 {
        font-size: 12px;
        margin-right: 2%; 
        
    }

    .button-store-head{
        width: 29%;
        max-width: 120px;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: bold;
        font-size: 12px;
        margin: auto;
        background-color: #EB7D34;
        border-radius: 25px;
        padding: 7px;
        margin-left: 25%;
    }

    .button-store-head:hover{
        background-color: #77AAAD;
    }
   
   /*  slider */

   .slider-slogan{
    margin-top: -12%;
   }

}


/* media celulares */

@media (max-width: 481px) {

    .navbar-conteiner img{ 
        height: 50px;
    }
    .navbar-menu-options{
        display: none;
    }
     
    .button-store-head{
      width: 120px;
      max-width: 120px;
      font-family: 'Libre Franklin', sans-serif;
      font-weight: bold;
      font-size: 12px;
      margin: auto;
      background-color: #EB7D34;
      border-radius: 25px;
      padding: 7px;
    }

    .slider-slogan{
        transform: scale(0.4);
        margin-top: -16%;
    }
}