.shop{
    background-image: url('../assets/coffeebeans.png');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    /* padding: 50px auto; */
}

.shop-container{
    background: black;
    padding: 40px 80px 20px;
    border-radius: 30px;
    margin: 0 50px;
}

.shop-country{
    display: none;
}

.shop-text{
    font-weight: 700;
    text-align: center;
}

.principal-text{
    font-size: 4rem;
    padding-bottom: 20px;
    font-weight: 800;
    background-image: url('../assets/rust.png');
    background-color: white;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.sec-text{
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 20px;
    background-image: url('../assets/rust.png');
    background-color: white;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.shop-button{
    margin-top: 10px;
    width: 150px;
    padding: 10px 30px;
    border-radius: 25px;
    border: 0px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    background: #EB7D34;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 600ms;
}

.shop-button:hover{
    cursor: pointer;
    background-color: #D9D9D9;
    color: #000;
}

@media only screen and (max-width: 768px) {
    .shop{
        background-image: none;
        margin: 20px;
    }
    .shop-container{
        background: #FFF;
        padding: 0;
    }
    .shop-country{
        display: block;
        height: auto;
        width: 100%;
        position: relative;
        z-index: -1;
    }
    .principal-text{
        font-size: 20px;
        padding: 25px 0;
        background-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../assets/rustb.png');
        background-color: white;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    .sec-text{
        font-size: 12px;
        padding-bottom: 10px;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../assets/rustb.png');
        background-color: white;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

@media only screen and (max-width: 414px) {
    .shop{
        flex-direction: column;
    }
    .shop-text{
        font-weight: 700;
        text-align: center;
        margin: 0 auto 50px;
    }
    .shop-button{
        margin: 40px auto;
        width: 150px;
    }
}
