:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.shipping{
    height: 3vh;
    text-align: center;
    background: #77AAAD;
    font-size: 14px;
}

.shipping p{ 
    padding: 3px;
}

.navbar {
    background: #000;
    height: 7vh;
    display: flex;
    justify-content: space-between;
}

.navbar img{
    height: 8vh;
}

.nav-menu {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
    font-size: 18px;
}

.nav-menu p:hover {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 3px;
    cursor: pointer;
}

.nav-menu button{
    padding: 10px 30px;
    border-radius: 25px;
    border: 0px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #77AAAD;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 600ms;
}

.nav-menu button:hover{
    cursor: pointer;
    background-color: #D9D9D9;
    color: #000;
    
}

.bg-header {
    background: rgba(0, 0, 0, 0.6) url('../src/assets/fondo.png');
    height: 90vh;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-blend-mode: darken;
    flex-direction: column;
}

.header-logo{
    height: 500px;
}

.header-toast {
    color: #FFFFFF;
    font-size: 30px;
}

.why-us{
    background: #F1F1F1;
    margin: 0;
}

.choose-us{
    text-align: center;
    padding: 5% 0 1%;
}

.container {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    position: relative;
}

@media only screen and (max-width: 992px){
    .container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.card-container{
    width: 25%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.card-container-logo {
    position: relative;
    background: #000;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 2;
}

.card-container-logo img{
    width: 40px;
    height: 40px;
    padding: 20px;
}

.card-container-text {
    position: relative;
    width: 100%;
    height: 270px;
    background: #DFDBD0;
    overflow: hidden;
    transform: translate(0, -15%) ;
    z-index: 1;
    border-radius: 30px;
    margin: 4px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.45);
    -webkit-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.45);
}

.card-container-text p{
    text-align: center;
    padding: 70px 20px;
    font-size: 18px;
}

.shop{
    display: flex;
    margin: 50px;
    align-items: center;
    justify-content: center;
}

.shop-cards{
    margin: 0px 0px 200px 50px;
    display: flex;
}

.india{
    position: relative;
    z-index: 2;
    transform: rotate(20deg);
}

.brasil{
    position: relative;
    transform: translate(-40%, 45%);
    z-index: 1;
}

.shop-text{
    font-weight: 700;
    text-align: center;
}

.principal-text{
    font-size: 30px;
    padding-bottom: 20px;
}

.sec-text{
    font-size: 18px;
    padding-bottom: 20px;
}

.shop-button{
    margin-top: 70px;
    padding: 15px 40px;
    border-radius: 25px;
    border: 0px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    background: #77AAAD;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 600ms;
}

.shop-button:hover{
    cursor: pointer;
    background-color: #D9D9D9;
    color: #000;
}

@media only screen and (max-width: 992px){
    .shop{
        display: none;
    }
}

.who-us{
    text-align: center;
    padding: 5% 0 1%;
}

.who-container{
    display: flex;
    margin: 5% 0 25%;
    align-items: center;
    justify-content: space-around;
}

.who-text{
    width: 25%;
    line-height: 1.8;
    font-weight: 700;
}

.who-img{
    display: flex;
    height: 320px;
}

.serve-img {
    position: relative;
    transform: translate(0%, 60%);
    z-index: 2;
}

.filter-img{
    position: relative;
    transform: translate(-40%);
    z-index: 1;
}

.footer {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer-box {
    display: flex;
    background-color: #000;
    width: 100%;
    height: 350px;
    margin: 0;
    color: #FFFFFF;
    align-items: start;
}

.footer-img {
    width: 100%;
    height: auto;
}

.footer-left {
    margin: 0 10%;
}

.footer-left p {
    color: #D9DBE1;
    margin: 30px 20px;
    height: 100%;
    font-size: 14px;
}

.footer-logos {
    display: flex;
}

.footer-right {
    display: flex;
    margin: 30px 10% 0 0;
    gap: 40px;
    justify-content: flex-start;
    width: 600px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
}

.footer-menu p{
    font-size: 14px;
    color: #D9DBE1;
}