:root {
    font-family: 'Libre Franklin', sans-serif;
    /* font-family: 'Fira Sans Condensed', sans-serif; */
    /* font-family: 'Carrois Gothic', sans-serif; */
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    --orange: #EB7D34;
    --ligthblue: #77AAAD;
}

* {
    margin: 0;
    padding: 0;
}

h2{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.shipping{
    height: 3vh;
    text-align: center;
    background: #77AAAD;
    font-size: 14px;
}

.shipping p{ 
    padding: 3px;
}

.navbar {
    background: #000;
    height: 7vh;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px){
    .navbar {
        display: none;
    }
}

.navbar img{
    height: 8vh;
}

.nav-menu {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
    font-size: 18px;
}

.nav-menu p:hover {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 3px;
    cursor: pointer;
}

.nav-menu button{
    padding: 10px 30px;
    border-radius: 25px;
    border: 0px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #77AAAD;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 600ms;
}

.nav-menu button:hover{
    cursor: pointer;
    background-color: #D9D9D9;
    color: #000;
    
}

.bg-header {
    background: rgba(0, 0, 0, 0.6) url('../src/assets/fondo.png');
    height: 90vh;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-blend-mode: darken;
    flex-direction: column;
}

.header-logo{
    height: 500px;
}

.header-toast {
    color: #FFFFFF;
    font-size: 30px;
}

.footer {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer-box {
    display: flex;
    background-color: #000;
    width: 100%;
    height: 350px;
    margin: 0;
    color: #FFFFFF;
    align-items: start;
}

.footer-img {
    width: 100%;
    height: auto;
}

.footer-left {
    margin: 0 10%;
}

.footer-left p {
    color: #D9DBE1;
    margin: 30px 20px;
    height: 100%;
    font-size: 14px;
}

.footer-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logos img{
    margin-top: 30px;
    width: 50px;
}

.footer-logos-contact {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-right {
    display: flex;
    margin: 30px 10% 0 0;
    gap: 40px;
    justify-content: flex-start;
    width: 600px;
}

@media only screen and (max-width: 768px){
    .footer-right {
        display: none;
    }
}


.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
}

.footer-menu p{
    font-size: 14px;
    color: #D9DBE1;
}